* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: black;
    font-family: Helvetica, Arial, sans-serif;
}
/* apply styles to <header> */
header {
    padding: 20px 35px;
    background-color: #39a6b2;
}
header h1 {
    font-weight:bold;
    font-size: 36px;
    color: black;
    margin:0;
    display: inline;
}
header a {
    text-decoration: none;
    color: black;
}
header nav {
    float: right;
    margin: 7px 0;
}
header nav ul li {
    display: inline;
}
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}
/*Hero Style Start*/
.hero {
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
}
.intro {
    text-align: center;
}
.intro p {
    line-height: 1.7;
    color: black;
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
}
.about-me {
    text-align: center;
    background: olivedrab;
}
.about-me div {
    margin-bottom: 80px;
}
.about-me img {
    width: 15%;
    margin: 10px 0;
}
.about-me h3 {
    color: black;
    font-size: 46px;
    margin-top: 10px;
}
.about-me p {
    color: black;
    font-size: 23px;
}
.section-title {
    font-size: 55px;
    color: #024e76;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    display: inline-block;
    border-bottom: 3px solid;
}
.trainers {
    text-align: center;
}
.trainer {
    width: 900px;
    margin: 0 auto 30px auto;
    background: #024e76;
    color: #fce138;
    overflow: auto;
}